{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Reset Passsword  {% endblock title %}  

{% block images %}
    <img src="{% static 'image/forget.jpg' %}"
    class="img-fluid" alt="Sample image">
{% endblock images %}

{% block content %}
{% block forms %}
    <form class="p-1" method="POST">
        <h3 class="text-center py-3">
            {% block formsheader %}
                Reset Passsword 
            {% endblock formsheader %}
        </h3>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center text-lg-start mt-2 pt-2">
            <button type="submit" class="btn btn-primary">Reset Passsword</button>
        </div>    
    </form>
{% endblock forms %}
{% endblock content %} 