{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Task Form update {% endblock title %}  

{% block body %}
    {% block images %}
        <img src="{% static 'image/tasks-forms-update.jpg' %}" class="img-fluid" alt="Sample image">
    {% endblock images %}
    {% block content %}
        <div>
            <h3 class="text-center">
                {% block formsheader %}
                    Task update Form
                {% endblock formsheader %}
            </h3>
            <form action="{% url 'tasks_list_update' queryset.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between align-items-center">
                    <button class="button btn btn-primary" type="submit">Submit</button>
                    <a href="{% url 'tasks_list_details' queryset.id %}" class="button btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    {% endblock content %}
{% endblock body %}
